<span class="about-section">
  <div class="about-body">
    <p id="greeting">Hi,</p>
    <p>
      I'm a full stack developer interested in
      bots, clean energy, and building software to better the human race.
    </p>
  </div>
  <div id="triangle"></div>
  <div class="project-header">
    <h3>PROJECTS</h3>
  </div>
</span>

<div class="projects-container">

  <div class="project-wrapper" id="whereabouts">
    <div class="project-hover">
      <h5>Description:</h5>
      <p>
        A community-powered maps for overlooked points-of-interest.
      </p>
      <h5>Specs:</h5>
      <p>
        Socket.io, google Maps API, Node.js, Express, PostreSQL, Knex.js, Bootstrap, Passport and Passport Local
      </p>
      <div class="links">
        <a href="https://github.com/blakeface/whereabouts" target="_blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://where-a-bouts.herokuapp.com/" target="_blank"><i class="fa fa-desktop fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="project">
      <img ng-src="/images/whereabouts.png" alt="Whereabout's logo" />
    </div>
  </div>

  <div class="project-wrapper" id="robot-xylphone">
    <div class="project-hover">
      <h5>Description:</h5>
      <p>
        A robot xylophone conducted by anyone with internet access
      </p>
      <h5>Specs:</h5>
      <p>
        Arduino Uno, Johnny-five.js, JWTS, Socket.io, Node.js, Express
      </p>
      <div class="links">
        <a href="https://github.com/blakeface/Xylophone-Robot" target="_blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/watch?v=cuGgAqyMJ1M" target="_blank"><i class="fa fa-desktop fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="project">
      <h3 id="robot-font">Robot Xylophone</h3>
    </div>
  </div>

  <div class="project-wrapper" id="state-of-solar">
    <div class="project-hover">
      <h5>Description:</h5>
      <p>
        This interactive website tracks solar energy deployment on a state-by-state basis.
      </p>
      <h5>Specs:</h5>
      <p>
        RafaelJs, AJAX, JQuery, SCSS
      </p>
      <div class="links">
        <a href="https://github.com/blakeface/state-of-solar" target="_blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
        <a href="http://blakeface.github.io/state-of-solar" target="_blank"><i class="fa fa-desktop fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="project">
      <h3>State of Solar</h3>
      <img ng-src="/images/state-of-solar.jpg" alt="State of Solar screenshot" />
    </a>
  </div>
</div>
