<span class="contact-body">
  <!-- <h3>Contact</h3> -->
  <!-- <form ng-submit="vm.send(email)">
    <label for="email">Email:</label>
    <input id="email" type="email" ng-model="email.address"
      placeholder="So I know who to respond to">
    <label for="contact">Say something:</label>
    <textarea id="contact" rows="8" cols="40" ng-model="email.body"
      placeholder="questions, comments, compliments, jokes ??"></textarea>
    <input type="submit" value="send it!">
  </form> -->
  <div class="icon-wrapper">
    <a href="https://github.com/blakeface" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    <a href="mailto:blake.netzeband@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/blakenetz" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    <a href="https://twitter.com/BlakeNetz" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/blakenetz" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
    <a href="https://angel.co/blake-netzeband" target="_blank"><i class="fa fa-angellist fa-2x" aria-hidden="true"></i></a>
  </div>
</span>
