<span class="contact-body">
  <h3>Contact</h3>
  <form ng-submit="vm.send()">
    <label for="email">Email:</label>
    <input id="email" type="email" placeholder="So I know who to respond to">
    <label for="contact">Say something:</label>
    <textarea id="contact" rows="8" cols="40" placeholder="questions, comments, compliments, jokes ??"></textarea>
    <input id="submit-button" type="submit" value="send it!">
  </form>
  <div class="icon-wrapper">
    <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
    <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
    <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
  </div>
</span>
