<span class="projects-body">
  <h3>Projects</h3>
  <div class="project-wrapper">
    <div class="project">
      <a href="http://blakeface.github.io/state-of-solar" target="_blank">
        <h3>State of Solar</h3>
        <img ng-src="/images/state-of-solar.jpg" alt="State of Solar screenshot" />
      </a>
      <h5>Description:</h5>
      <p>
        This interactive website tracks solar energy deployment on a state-by-state basis.
      </p>
      <h5>Specs:</h5>
      <p>
        RafaelJs, AJAX, JQuery, SCSS
      </p>
    </div>

    <div class="project">
      <a href="https://where-a-bouts.herokuapp.com/" target="_blank">
        <h3>Whereabouts</h3>
        <img ng-src="/images/whereabouts.jpg" alt="Whereabouts screenshot" />
      </a>
      <h5>Description:</h5>
      <p>
        A community-powered maps for overlooked points-of-interest.
      </p>
      <h5>Specs:</h5>
      <p>
        Socket.io, google Maps API, Node.js, Express, PostreSQL, Knex.js, Bootstrap, Passport and Passport Local
      </p>
    </div>
  </div>
</span>
