<span class="triangle-section" id="skills-spacer">
  <div class="triangle-body">
    <p id="greeting">Want to know more?</p>
    <p>
      Take a look at some of the things I'm good at
    </p>
  </div>
  <div class="triangle"></div>
  <div class="triangle-header">
    <h3>Skills</h3>
  </div>

</span>
<span class="skills-body">
  <div class="skills-title">
    <h3>Skills</h3>
  </div>
  <div class="skills-row">

    <div class="skills-column">
      <h5>SDK / Libraries</h5>
      <ul>
        <li>jQuery</li>
        <li>AngularJS</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>Socket.io</li>
        <li>SCSS + SASS</li>
      </ul>
    </div>

    <div class="skills-column">
      <h5>Backend / Deployment</h5>
      <ul>
        <li>Knex.js</li>
        <li>PostreSQL</li>
        <li>AWS</li>
        <li>Heroku</li>
        <li>Firebase</li>
      </ul>
    </div>

    <div class="skills-column">
      <h5>Good Habits</h5>
      <ul>
        <li>TDD</li>
        <li>Semantic HTML</li>
        <li>Data normalization</li>
        <li>Version control</li>
        <li>Agile production</li>
      </ul>
    </div>
  </div>


</span>
