@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
}
@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
}

@mixin bg-welcome {
  background-image: url('/../images/bg-welcome.jpg');
  background-repeat: repeat;
  background-size: 300px;
}
