@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
}
@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
}

@mixin header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: $header-font;
  font-size: $header2-size;
}

$bg-height: 675px;
