@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
}
@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
}

@mixin welcome-bg {
  background-image: url('/../images/welcome-bg.jpg');
  background-repeat: repeat;
  background-size: 300px;
}

@mixin projects-bg {
  background-image: url('/../images/projects-bg.jpg');
  background-repeat: repeat;
  background-size: 300px;
}

$bg-height: 675px;
