.contact-body{
  background: #C33F3F;
  @include flex-column;
  align-items: center;

  & h3 {
    @include header;
  }

  & form {
    @include flex-column;
    font-family: $body-font;
    font-size: $body1-size;
    width: 80vw;
    max-width: 500px;
  }

  & form textarea, form input {
    font-family: geoSansLight;
    font-size: $body2-size;
    margin-bottom: 30px;
  }

  a {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    & :hover {
      color: white;
    }
  }

  .icon-wrapper {
    padding: 30px;
  }
}

@media (max-width: 450px){
  
}
