.project-wrapper {
  @include flex-column;
  align-items: center;
  justify-content: center;
  width: 47vw;
  height: 420px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .project-hover {
    visibility: hidden;
    font-family: $body-font;
    position: absolute;
    width: 47vw;
    height: 420px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;

    h5 {
      font-family: $header-font;
      font-size: $body1-size;
      margin-bottom: 0px;
    }
  }

  &:hover {
    .project-hover {
      visibility: visible;
      @include flex-column;
      align-items: flex-start;
      background: rgba(0, 0, 0, 0.75);
      color: white;
    }
  }

  .links {
    @include flex-row;
    width: 100%;
    justify-content: center;
    a {
      margin: 10px;
      color: white;
      & :hover {
        color: #FF9F83;
      }
    }
  }
}

#robot-xylphone {
  #robot-font {
    font-family: baby blocks;
    font-size: 50px;
    color: white;
  }
  background: rgb(112, 112, 112);
}

#whereabouts {
  background: #BCD6E4;
}

.projects-container {
  @include flex-row;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
