@include triangle;

#skills-spacer {
  margin-top: 30px;
}

@media (min-width: 951px) {
  .skills-title {
    visibility: hidden;
    font-size: 0px;
  }
}

@media (max-width: 950px) {
  .skills-title {
    display: flex;
    justify-content: center;
    h3 {
      font-size: 130px;
      font-family: $header-font;
      margin: 10px;
    }
  }
}

.skills {
  background: #C33F3F;
}

.skills-body{
  padding-top: 30px;
  @include flex-column;
  align-items: center;
}

.skills-row{
  @include flex-row;
  justify-content: space-around;
  align-items: stretch;
  width: 100vw;
}

.skills-column{
  @include flex-column;
  margin: 15px;
  align-items: center;

  & h5 {
    font-family: $body-font;
    font-size: $body1-size;
    margin: 0px;
  }

  & li {
    font-family: $body-font;
    font-size: $body2-size;
    color: black;
  }
}
