@media (max-width: 505px){
  .skills-body{
    @include skills-bg;
    height: 700px;
    @include flex-column;
    align-items: center;

    & h3 {
      @include header;
    }
  }
}

@media (min-width: 506px) and (max-width: 732px){
  .skills-body{
    @include skills-bg;
    height: 550px;
    @include flex-column;
    align-items: center;

    & h3 {
      @include header;
    }
  }
}

@media (min-width: 733px){
  .skills-body{
    @include skills-bg;
    height: 400px;
    @include flex-column;
    align-items: center;

    & h3 {
      @include header;
    }
  }
}

.skills-row{
  @include flex-row;
  justify-content: space-around;
  align-items: stretch;
  width: 100vw;
}

.skills-column{
  @include flex-column;
  margin: 15px;
  align-items: center;

  & h5 {
    font-family: $body-font;
    font-size: $body1-size;
    margin: 0px;
  }

  & li {
    font-family: $body-font;
    font-size: $body2-size;
    color: black;
  }
}
