.welcome-body{
  @include flex-column;
  align-items: center;
  justify-content: center;
  @include welcome-bg;
  height: $bg-height;
}

.welcome-text{
  @include flex-row;
  text-align: center;

  & h1 {
    font-size: 80px;
    font-family: $welcome-font;
  }

  & h3 {
    font-size: 50px;
    font-family: $welcome-font;
  }
}
