.welcome-body{
  @include flex-column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/../images/background.jpg');
}

.welcome-text{
  @include flex-row;
  text-align: center;

  & h1 {
    font-size: 80px;
    font-family: $main-font;
  }

  & h3 {
    font-size: 50px;
    font-family: $main-font;
  }
}
