.body-wrapper {
  margin: 0px;
  display: flex;
  flex-flow: column nowrap; }

.welcome-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url("/../images/welcome-bg.jpg");
  background-repeat: repeat;
  background-size: 300px;
  height: 675px; }

.welcome-text {
  display: flex;
  flex-flow: row wrap;
  text-align: center; }
  .welcome-text h1 {
    font-size: 80px;
    font-family: "dk petit four"; }
  .welcome-text h3 {
    font-size: 50px;
    font-family: "dk petit four"; }

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "basic title font"; }
  .navigation a {
    font-size: 30px;
    font-weight: 900;
    color: black;
    margin: 10px; }

.about-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "basic title font";
  font-size: 30px; }

#greeting {
  font-family: "dk petit four";
  font-size: 80px; }

@media (max-width: 663px) {
  .projects-body {
    background-image: url("/../images/projects-bg.jpg");
    background-repeat: repeat;
    background-size: 300px;
    height: 1000px;
    align-items: center;
    display: flex;
    flex-flow: column nowrap; } }

@media (min-width: 664px) {
  .projects-body {
    background-image: url("/../images/projects-bg.jpg");
    background-repeat: repeat;
    background-size: 300px;
    height: 675px;
    align-items: center;
    display: flex;
    flex-flow: column nowrap; } }

.project-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  justify-content: space-around;
  width: 100vw; }

.project {
  display: flex;
  flex-flow: column nowrap;
  color: white;
  font-family: "dk petit four";
  font-size: 30px;
  width: 292px;
  margin: 20px; }
  .project p {
    font-size: 15px;
    font-family: "basic title font";
    margin: 0px; }
  .project h5 {
    font-family: "basic title font";
    margin-bottom: 0px;
    margin-top: 10px; }
  .project a, .project h3 {
    text-decoration: none;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px; }
