.body-wrapper {
  margin: 0px;
  display: flex;
  flex-flow: column nowrap; }

@media (min-width: 900px) {
  video#bgvid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 600px;
    height: 630px;
    padding: 0px;
    z-index: -2; }
  .welcome-body {
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.65);
    height: 630px;
    color: white; }
    .welcome-body h1 {
      font-size: 80px;
      font-family: "dk petit four"; }
    .welcome-body h3 {
      font-size: 50px;
      font-family: "dk petit four"; } }

@media (max-width: 899px) {
  video#bgvid {
    display: none; }
  .welcome-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../images/welcome.jpg");
    z-index: 1;
    height: 630px;
    color: white; }
    .welcome-body h1 {
      font-size: 80px;
      font-family: "dk petit four"; }
    .welcome-body h3 {
      font-size: 50px;
      font-family: "dk petit four"; } }

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "basic title font"; }
  .navigation a {
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin: 10px; }

.about-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "basic title font";
  font-size: 30px; }
  .about-body h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "dk petit four";
    font-size: 50px; }

#greeting {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "dk petit four";
  font-size: 50px; }

@media (max-width: 623px) {
  .projects-body {
    background-image: url("/../images/projects-bg.jpg");
    background-repeat: repeat;
    background-size: 300px;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 1100px; }
    .projects-body h3 {
      margin-top: 50px;
      margin-bottom: 50px;
      font-family: "dk petit four";
      font-size: 50px;
      color: white; } }

@media (min-width: 624px) {
  .projects-body {
    background-image: url("/../images/projects-bg.jpg");
    background-repeat: repeat;
    background-size: 300px;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 675px; }
    .projects-body h3 {
      margin-top: 50px;
      margin-bottom: 50px;
      font-family: "dk petit four";
      font-size: 50px;
      color: white; } }

.project-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100vw; }

.project {
  display: flex;
  flex-flow: column nowrap;
  color: white;
  font-family: "dk petit four";
  font-size: 30px;
  width: 292px;
  margin-left: 10px;
  margin-right: 10px; }
  .project p {
    font-size: 15px;
    font-family: "basic title font";
    margin: 0px; }
  .project p:nth-of-type(2) {
    margin-bottom: 30px; }
  .project h5 {
    font-family: "basic title font";
    margin-bottom: 0px;
    margin-top: 10px; }
  .project a, .project h3 {
    text-decoration: none;
    color: white;
    margin: 0px; }

@media (max-width: 505px) {
  .skills-body {
    background-image: url("/../images/skills-bg.jpg");
    background-repeat: repeat;
    background-size: 300px;
    height: 700px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    .skills-body h3 {
      margin-top: 50px;
      margin-bottom: 50px;
      font-family: "dk petit four";
      font-size: 50px; } }

@media (min-width: 506px) and (max-width: 732px) {
  .skills-body {
    background-image: url("/../images/skills-bg.jpg");
    background-repeat: repeat;
    background-size: 300px;
    height: 550px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    .skills-body h3 {
      margin-top: 50px;
      margin-bottom: 50px;
      font-family: "dk petit four";
      font-size: 50px; } }

@media (min-width: 733px) {
  .skills-body {
    background-image: url("/../images/skills-bg.jpg");
    background-repeat: repeat;
    background-size: 300px;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    .skills-body h3 {
      margin-top: 50px;
      margin-bottom: 50px;
      font-family: "dk petit four";
      font-size: 50px; } }

.skills-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  width: 100vw; }

.skills-column {
  display: flex;
  flex-flow: column nowrap;
  margin: 15px;
  align-items: center; }
  .skills-column h5 {
    font-family: "basic title font";
    font-size: 30px;
    margin: 0px; }
  .skills-column li {
    font-family: "basic title font";
    font-size: 15px; }

.contact-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .contact-body h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "dk petit four";
    font-size: 50px; }
  .contact-body form {
    display: flex;
    flex-flow: column nowrap;
    font-family: "basic title font";
    font-size: 30px;
    width: 80vw;
    max-width: 500px; }
  .contact-body form textarea, .contact-body form input {
    font-family: "basic title font";
    font-size: 15px;
    margin-bottom: 30px; }

#submit-button {
  font-family: cursive;
  font-size: 10em; }
