.body-wrapper {
  margin: 0px;
  display: flex;
  flex-flow: column nowrap; }

.welcome-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url("/../images/welcome-bg.jpg");
  background-repeat: repeat;
  background-size: 300px;
  height: 675px; }

.welcome-text {
  display: flex;
  flex-flow: row wrap;
  text-align: center; }
  .welcome-text h1 {
    font-size: 80px;
    font-family: "dk petit four"; }
  .welcome-text h3 {
    font-size: 50px;
    font-family: "dk petit four"; }

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "basic title font"; }
  .navigation a {
    font-size: 30px;
    font-weight: 900;
    color: black;
    margin: 10px; }

.about-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: "basic title font";
  font-size: 30px; }

#greeting {
  font-family: "dk petit four";
  font-size: 80px; }

.projects-body {
  background-image: url("/../images/projects-bg.jpg");
  background-repeat: repeat;
  background-size: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
  font-family: "basic title font"; }
